@import "../../../shared/Sass/base";

// Page styles 
.page-container{
	// Make the page centered 
	margin-left: auto;
	margin-right: auto;
	  
	// Give it a maximum width
	max-width: $spacing-largest*16;

	// Give it some padding
	padding: $spacing-large;

	// The title of the page
	h1{
		font-weight: 500;
		div{
			border-bottom: 2px solid $colorGray;
			margin-bottom: $spacing-largest;		
			padding-bottom: $spacing-small;
			width: 100%;
		}
	}

	// Table styles
	table{

		// Make it take full width
		width: 100%;

		// Remove the separation between the cells
		border-spacing: 0px;

		// Give it a border
		border: 2px solid $colorGray;
		border-top-left-radius: $spacing-small;
		border-top-right-radius: $spacing-small;

		// Table cells, and header styles
		td,th{
			padding: $spacing-smaller $spacing-small;
			border-bottom: 1px solid $colorGray;
		}

		// Table header
		th{
			background-color: $colorGray;
			color: $colorLight;
			padding: $spacing-small;
		}

		// Row styles
		tr{
			*{
				// Align content to the right
				text-align:left;
			}
			td{
				// Set the maximum width of a table cell
				max-width: $spacing-largest*7;

				// Stop line break 
				white-space: nowrap;
				
				// Hide overflow of text
				overflow: hidden;
				text-overflow: ellipsis;
				
				// Style the title
				h4{
					font-size: $font-large;
					font-weight: 600;
				}
				font-size: $font-normal;
			}
			
			// The description
			td:nth-child(1){
				span{
					opacity: 50%;
				}
			}

			// Nom de l'encadreur
			:nth-child(2){
				// Set the maximum width of the name of encadreur
				max-width: $spacing-largest*2;
			}

			// The green check
			:nth-child(3){
				span{
					font-weight: 800;
					margin: $spacing-smaller;
					color: green;
				}
			}

			// Red x mark
			:nth-child(4){
				span{
					font-weight: 800;
					margin: $spacing-smaller;
					color:red;
				}
			}
			td{
				// Style of the accept and reject buttons
				button{
					transition: ease-in 200ms;
					padding: $spacing-smaller;
					background-color: transparent;
					border: none;
					&:hover{
						color: $colorOrange;
					}
					font-size: $font-normal;
				}
			} 
		}

		// Give the table a border radius		
		tr:first-child th:first-child{
			border-top-left-radius: $spacing-smaller ;	
			
		}

		tr:first-child th:last-child{
			border-top-right-radius: $spacing-smaller ;	
			
		}

	}
}



// Popup box
.popup-container{
	// Dark background for the whole page
	background-color: rgba($colorDark,0.3);
	height: 100vh;
	margin-top: -$spacing-largest;
	width: 100%;
	display: flex;
	z-index: 2;
	justify-content: center;	
	opacity: 0;
	pointer-events: none;
	position: fixed;
	
	// Content of the popup box
	> div{
		align-self: center;
		background-color: $colorLight;		
		height: $spacing-largest * 8;
		width: $spacing-largest *12;
		border-radius: $spacing-small;
		display: flex;
		justify-content: center;
	}
}



// The next couple classes are just for test they might get modified in the futur
.appear{
	opacity: 1;
	pointer-events: all;

}

.close{
	align-self: center;
	background-color: $colorOrange;
	padding:$spacing-normal $spacing-large;
	color: $colorLight;
	border-radius: $spacing-normal;
	border: none;

}




