@import "../../../shared/Sass/base";

 
// Page styles
.page-container{
	// Make the page centered 
	margin-left: auto;
	margin-right: auto;

	// Give it a maximum width
	max-width: $spacing-largest*16;

	// Give it some padding
	padding: $spacing-large;

	// The title of the page
	h1{
		margin-bottom: $spacing-largest;
		border-bottom: 1px solid $colorDark;
		padding-bottom: $spacing-small;
		display: inline-block;
		width: 100%;
		font-weight: 500;
	}

	// Table styles
	table{
		// Make it take full width
		width: 100%;

		// Remove the separation between the cells
		border-spacing: 0px;

		// Table cells, and header styles
		td,th{
			padding: $spacing-smaller $spacing-small;
		}

		// Table rows
		tr:nth-child(even){
			background-color: $colorGray;
		}

		// Table header
		th{
			background-color: $colorBlue;
			color: $colorLight;
			padding: $spacing-small;
		}

		// Row styles
		tr{
			*{
				// Align content to the right
				text-align:left;
			}
			td{
				// Set the maximum width of a table cell
				max-width: $spacing-largest*7;

				// Stop line break 
				white-space: nowrap;
				
				// Hide overflow of text
				overflow: hidden;
				text-overflow: ellipsis;
			
				h4{
					font-size: $font-large;
					font-weight: 600;
				}
				font-size: $font-normal;
			}
			
			td:nth-child(1){
				span{
					opacity: 50%;
				}
			}

			:nth-child(2){
				// Set the maximum width of the name of encadreur
				max-width: $spacing-largest*2;
			}

			:nth-child(3){
				span{
					font-weight: 800;
					margin: $spacing-smaller;
					color: green;
				}
			}

			:nth-child(4){
				span{
					font-weight: 800;
					margin: $spacing-smaller;
					color:red;
				}
			}

			td{
				// Style of the accept and reject buttons
				button{
					transition: ease-in 200ms;
					padding: $spacing-smaller;
					background-color: transparent;
					border: none;
					&:hover{
						color: $colorOrange;
					}
				}
			}


		}

		// Give the table a border radius		
		tr:first-child th:first-child{
			border-top-left-radius: $spacing-smaller ;	
			
		}

		tr:first-child th:last-child{
			border-top-right-radius: $spacing-smaller ;	
			
		}

	}
}


