@import "../../../shared/Sass/base";

// Top bar styles
.top-bar{

	// The bottom line with a drop shadow
	box-shadow: 0px 0px $spacing-smaller 0px $colorDark;
	
	ul {
		// Make the list items display horizontally
		display: flex;
		width: 100%;
		
		align-content: space-between;
		li{
			// Remove the default style
			list-style-type: none;
		
			*{
				// Display block so the top and bottom margin and padding work
				display: block;
			}

			// Style the links to different pages
			a{
				font-size: large;
				text-decoration: none;
				color: $colorDark;

				// Give it a padding and a margin
				margin: $spacing-normal;

				// Animation properties
				transition: ease-in 200ms;

				// Set the hover style
				&:hover{
					color: $colorBlue;
				}
			}	
	
			// Style the drop menu 
			select{
				background-color: $colorLight;
				border: none;
				margin: $spacing-normal;
						
			}

			// Style the logout button
			button{
				// Animation properties
				transition: ease-in 200ms;

				// Button properties
				background-color: $colorLight;
				border: 2px solid $colorLightBlue;
				color: $colorLightBlue;
				padding: $spacing-smaller $spacing-large;
				margin: $spacing-small $spacing-normal;
				border-radius: $spacing-small;
				
				// Hover properties
				&:hover{
					border: 2px solid $colorOrange;
					color: $colorOrange;
				}

			}
		}	
		
		li{
			svg{
				height: $spacing-large;
				width: auto;
				padding: $spacing-small;
			}
		}

		// Right align the select boxes and logout button
		:nth-child(6){			
			text-align: right;
			margin-left: auto;
		}

		li:nth-child(2){
			width: 3px;
			background-color: $colorDark;
			margin: $spacing-normal;
			opacity: 20%;
		}
	}
}














