// The main colors we are gonna use in our website
$colorLight:#fefefe !default;
$colorLightGray: #e6eefa !default;
$colorGray: #B1B2B2 !default;
$colorLightBlue:#51A6DD !default;
$colorBlue:#005D93 !default;
$colorOrange:#ff7f22 !default;
$colorDark:#030c17 !default; 
