@import "../../../shared/Sass/base";

	 

* {
    box-sizing: border-box;
  }
  
body {
	background: $colorLight;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	
}

h1 {
	font-weight: bold;
	margin: $spacing-large;
	font-size: $font-largest;
}



span {
	font-size: $font-small;
    color: #6d6e6e;
    padding: $spacing-small ;
}

a {
    float:right;
	color: $colorBlue;
	font-size: $font-small;
	text-decoration: none;
    padding-top: $spacing-normal ;
}

button {
	border-radius: $spacing-smaller;
	background-color: $colorBlue;
	color: $colorLight;
	font-size: $font-normal;
	font-weight: 600;
	padding: $spacing-small $spacing-larger;
	text-transform: uppercase;
	transition: 0.2s ease-in;  
	
	&:hover{
		background-color: $colorLightBlue;
	}
}

form {
	background-color: $colorLight;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 $spacing-larger;
	height: 100%;
	text-align: center;
}

input {
	background-color: $colorLightGray;
	border: none;
	padding: $spacing-small;
	margin: $spacing-smaller 0;
	width: 100%;
	border-radius: 5px;
}

.container {
	background-color: $colorLight;
	border-radius: $spacing-smaller;
  	box-shadow: 0 $spacing-small $spacing-normal rgba(0,0,0,0.25), 0 $spacing-smaller $spacing-smaller rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: $spacing-largest*12.5;
	max-width: 100%;
	min-height: $spacing-largest*7;
    
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 50%;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: $colorLightBlue;
	background: -webkit-linear-gradient(to right, $colorBlue, $colorLightBlue);
	background: linear-gradient(to right, $colorBlue, $colorLightBlue);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: $colorLight;
	position: relative; 
	left: -200%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 $spacing-large;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}

  img.login {
	text-align: center;
    width: 90%;
    border-radius: 20%;
  }
  img.logo {
	text-align: left;
    width: 10%;
	border-style: none;
  }
  .logo{
	  text-align: left;
  }
  
  input[type="checkbox"] {
    width: $spacing-smaller;
    height: $spacing-smaller;
}
label.checkbox {
    padding-bottom: $spacing-larger;
    line-height:$spacing-normal;
    margin: 2px 0;
    display: block;
	height: $spacing-small;
}

.boxe {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: normal;
  }

.font1{
	font-size:$font-small;
}  