html{background-color:#fafafe;color:#030c17}*{margin:0px;padding:0px;font-family:sans-serif;font-size:16px}a{transition:ease-in 200ms;color:#ff7f22;text-decoration:none}a:hover,a:focus{color:#51A6DD}
